.main_brands_wrapper{
    max-width: 1439px;
    margin: 0 auto;

}

.brands_wrapper{
    height: 299px;
    background-color: #FEF2F2;
    padding-top: 100px;
    padding-left: 127px;
}

.trusted_by{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color:  #9CA3AF;
    padding-bottom: 27.98px;
}

.brand_pics_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.aplphabet_pic{
    padding-left: 0.55px;
    padding-right: 96.92px;
}

.shopify_pic{
    padding-right: 97px;
}

.amazon_pic{
    padding-right: 97.24px;
}

.google_pic{
    padding-right: 97.55px;
}